IFRE_DATA_SOURCE=mock
IFRE_DB_URL=postgresql+psycopg://user:pass@host:5432/dbname
IFRE_AVG_SPEED_KMPH=30
IFRE_EDGE_WEIGHT_IN_METERS=1
IFRE_SCORE_W_DISTANCE=0.7
IFRE_SCORE_W_ETA=0.3
IFRE_SCORE_W_WAIT=0.2
IFRE_SCORE_W_LATE=1.0
IFRE_USE_TASK_ASSIGNMENTS=false
